/* Custom header background */
.custom-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  height: 70px;
  border-bottom: 1px solid #e8e8e8;
}

/* Title with primary color */
.custom-title {
  margin: 0;
  color: var(--primary-color) !important;
  font-family: 'Anuphan', sans-serif !important;
}

/* Custom Menu Styles */
.custom-menu {
  border-bottom: none;
  justify-content: flex-end;
  background-color: white;
}

/* Menu item customization */
.custom-menu-item {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color) !important;
  border-bottom: none !important;
  margin-right: 20px;
  font-family: 'Anuphan', sans-serif !important;
}

/* Selected and hover styles */
.custom-menu-item:hover,
.custom-menu-item.ant-menu-item-selected {
  color: var(--secondary-color) !important;
}

.custom-menu-item a {
  color: var(--primary-color) !important;
  text-decoration: none;
}

/* Hover and selected link color */
.custom-menu-item:hover a,
.custom-menu-item.ant-menu-item-selected a {
  color: var(--secondary-color) !important;
}
