:root {
    --primary-color: #564497;
    --secondary-color: #f8a025;
  }
  
  .features-container {
    padding: 20px;
    background-color: white;
    padding: 64px 120px 80px 120px;
    height: 520px;
  }
  
  .feature-title {
    font-size: 54px;
    font-weight: 400;
    line-height: 65.35px;
  }
  
  .feature-item {
    background-color: white;
    padding: 20px;
  }
  
  .feature-heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    color: var(--primary-color);
    display: block;
  }
  
  .feature-description {
    font-size: 16px;
    color: #333;
  }

  .feature-content {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
  }
  