.footer {
    background-color: #8f757e;
    color: #fff;
    padding: 60px 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo-col {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-logo img {
    width: 250px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: var(--secondary-color);
  }
  
  .footer-title {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .footer-link {
    display: block;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }
  
  .contact-email {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
  
  .contact-email a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .contact-email a:hover {
    color: var(--secondary-color);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-logo {
      text-align: center;
    }
  
    .footer-title, .footer-link, .contact-email {
      text-align: center;
    }
  }
  
  @media (max-width: 576px) {
    .footer-logo img {
      width: 150px;
    }
  
    .footer-container {
      padding: 0 10px;
    }
  }