.trusted-by-container {
    width: 100%;
    margin: auto;
    padding: 40px 0;
    background-color: var(--primary-color);
    position: relative;
    text-align: center;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .title-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: white;
    margin: 0;
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }

  .carousel-item img {
    width: 80%;
    height: auto;
    /* max-height: 300px; */
    object-fit: cover;
  }
  
  .carousel-dots .slick-active {
    background-color: var(--primary-color);
  }

  .slick-arrow .slick-next .slick-prev{
    color: #ffffff !important
  }
  